/* Stiluri pentru secțiunea Quote of the Day */
#quote-container {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #373c4f;
    text-align: center;
}

#quote-container h2 {
    font-size: 2em;
    color:#b38add;
    margin-bottom: 15px;
}

#quote {
    font-style: italic;
    color: #b38add;
}

#quote p {
    margin: 15px 0;
}
